<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="max-w-2xl mx-auto bg-gray-100 selection:bg-slate-800 selection:text-white">
  <!-- <header>
    {{ partial "header.html" . }}
  </header> -->
  
  <main class="px-5 lg:px-0 py-16">
    {{ block "main" . }}{{ end }}
  </main>
  
  <footer class="px-5 lg:px-0 pb-10">
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
